* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgb(50, 50, 150);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    row-gap: 10px;
}
#page-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(16, 16, 82);
    color: white;
    padding: 5px 0 5px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page-container {
    display: flex;
    padding: 0 15px 0 0;
    height: 100%;
}
